# Example Config
#
# Copy it to ~/.frachtraum.conf and edit it to your own needs
#
compression = lz4
volumes		= volume1,volume2,volume3
encryption 	= AES-XTS
keylength 	= 4096
mountpoint 	= /frachtraum
tmtargets	= volume1/TimeMachine/user1,volume1/TimeMachine/user2
